---
import Layout from "../layouts/Layout.astro";
import "../../src/styles/main.css";
import GridFirst from "../components/GridFirst.astro";
import GridTwo from "../components/GridTwo.astro";
import GridThree from "../components/GridThree.astro";
import GridFour from "../components/GridFour.astro";
import GridFive from "../components/GridFive.astro";
import GridSix from "../components/GridSix.astro";
import GridLast from "../components/GridLast.astro";
---

<Layout>
  <!-- App -->
  <div class="app">
    <!-- Wrapper for Centered Content -->
    <div class="center-wrapper">
      <!-- Grid Container -->
      <div class="grid-container">
        <GridFirst />
        <GridTwo />
        <GridThree />
        <GridFour />
        <GridFive />
        <GridSix />
        <GridLast />
      </div>
    </div>
  </div>
</Layout>
