---
import GridBlock from "./GridBlock.astro";
---

<GridBlock classname="grid-order-five">
  <div class="grid-order-five-container">
    <h2 class="text-xl font-extrabold">Projects</h2>
    <br />
    <div class="flex flex-wrap items-center justify-center w-full h-full gap-2">
      <div
        class="w-full h-full font-extrabold max-w-80 max-h-60 text-slate-950/70"
      >
        <div
          class="min-h-40 rounded-t-lg bg-[url('/screenshots/alpinejs-static-website.png')] bg-cover bg-center bg-no-repeat relative m-auto"
        >
        </div>
        <div class="rounded-b-lg min-h-20 bg-slate-200 overflow-clip">
          <h2 class="flex flex-col justify-center min-h-8">
            AplineJS Static Website
          </h2>
          <div class="flex min-h-12 justify-evenly">
            <a
              href="https://github.com/Lusanco/alpinejs-static-website"
              target="_blank"
              rel="noopener noreferrer"
              class="flex flex-col items-center justify-center w-full border-t border-r border-slate-950/70"
              >GitHub</a
            >
            <a
              href="https://lusanco.github.io/alpinejs-static-website/"
              target="_blank"
              rel="noopener noreferrer"
              class="flex flex-col items-center justify-center w-full border-t border-l border-slate-950/70"
              >Live Demo</a
            >
          </div>
        </div>
      </div>
      <div
        class="w-full h-full font-extrabold max-w-80 max-h-60 text-slate-950/70"
      >
        <div
          class="min-h-40 rounded-t-lg bg-[url('/screenshots/palitaspr.png')] bg-cover bg-center bg-no-repeat relative m-auto"
        >
        </div>
        <div class="rounded-b-lg min-h-20 bg-slate-200 overflow-clip">
          <h2 class="flex flex-col justify-center min-h-8">PalitasPR</h2>
          <div class="flex min-h-12 justify-evenly">
            <a
              href="https://github.com/Lusanco/palitaspr"
              target="_blank"
              rel="noopener noreferrer"
              class="flex flex-col items-center justify-center w-full border-t border-slate-950/70"
              >GitHub</a
            >
          </div>
        </div>
      </div>
      <div
        class="w-full h-full font-extrabold max-w-80 max-h-60 text-slate-950/70"
      >
        <div
          class="min-h-40 rounded-t-lg bg-[url('/screenshots/svelte-hvac-portfolio.png')] bg-cover bg-center bg-no-repeat relative m-auto"
        >
        </div>
        <div class="rounded-b-lg min-h-20 bg-slate-200 overflow-clip">
          <h2 class="flex flex-col justify-center min-h-8">
            Svelte HVAC Portfolio
          </h2>
          <div class="flex min-h-12 justify-evenly">
            <a
              href="https://github.com/Lusanco/svelte-hvac-portfolio"
              target="_blank"
              rel="noopener noreferrer"
              class="flex flex-col items-center justify-center w-full border-t border-r border-slate-950/70"
              >GitHub</a
            >
            <a
              href="https://lusanco.github.io/svelte-hvac-portfolio/"
              target="_blank"
              rel="noopener noreferrer"
              class="flex flex-col items-center justify-center w-full border-t border-l border-slate-950/70"
              >Live Demo</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</GridBlock>
