---
import GridBlock from "./GridBlock.astro";
---

<GridBlock classname="grid-order-first">
  <h1
    class="absolute bottom-0 right-0 p-2 m-2 text-xl font-extrabold text-right rounded-lg text-slate-100/80 bg-slate-900/70"
  >
    Luis Santiago
  </h1>
  <img
    src="/profile-blue.jpg"
    alt=""
    class="invisible object-cover w-full min-h-full"
  />
</GridBlock>
