---
import GridBlock from "./GridBlock.astro";
---

<GridBlock classname="grid-order-four">
  <div class="grid-order-four-container">
    <h2 class="text-xl font-extrabold">Resume</h2>
    <br />

    <a
      download=""
      href="/resume/2025_05_26_Luis_Santiago_Resume.pdf"
      class="p-4 font-extrabold rounded-lg bg-slate-200 text-slate-800/80"
      >Download</a
    >
  </div>
</GridBlock>
