---
import GridBlock from "./GridBlock.astro";
---

<GridBlock classname="grid-order-last">
  <p class="flex justify-center h-full p-4 text-center">
    Copyright © 2025 Lusanco. All rights reserved.
  </p>
</GridBlock>
