---
import GridBlock from "./GridBlock.astro";
---

<GridBlock classname="grid-order-six">
  <div class="grid-order-six-container">
    <div class="flex flex-wrap justify-between w-full max-w-sm md:px-4 lg:p-0">
      <a
        href="mailto:lasc1026@gmail.com
"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/icons/email.svg" alt="email" class="w-14 h-14" />
      </a>
      <a
        href="https://github.com/Lusanco"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/icons/github.svg" alt="github" class="w-14 h-14" />
      </a>
      <a
        href="https://www.linkedin.com/in/lusanco/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/icons/linkedin.svg" alt="linkedin" class="w-14 h-14" />
      </a>
    </div>
  </div>
</GridBlock>
