---
import GridBlock from "./GridBlock.astro";
---

<GridBlock classname="grid-order-three">
  <div class="grid-order-three-container">
    <h2 class="text-xl font-extrabold">Skills</h2>
    <br />
    <p>Languages: JavaScript, TypeScript, Bash Scripting, HTML, CSS</p>
    <br />
    <p>Frameworks: TailwindCSS, DaisyUI, Svelte, Axios</p>
    <br />
    <p>Tools: Git, GitHub, Node Package Manager (NPM), Vite, VS Code, Trello</p>
    <br />
    <p>
      Soft Skills: Communication, Problem-Solving, Leadership, Team
      Collaboration, Adaptability
    </p>
  </div>
</GridBlock>
