---
import GridBlock from "./GridBlock.astro";
---

<GridBlock classname="grid-order-two">
  <div class="grid-order-two-container">
    <h2 class="text-xl font-extrabold">About Me</h2>
    <br />
    <p>
      I'm Luis Santiago, a passionate Front-End Software Developer focused on
      building innovative, user-friendly web applications that solve real-world
      problems. With experience in JavaScript, TypeScript, and modern
      frameworks, I develop and deploy responsive web solutions, integrate APIs,
      and collaborate effectively with teams. I am always eager to learn and
      grow, actively exploring new areas like Agentic AI workflows.
    </p>
    <br />
    <p>
      Outside of coding, I find inspiration in storytelling—whether through
      Manhwa, TV Series, or Gaming. Essentially anything that CAN tell a story.
      But lately, I’ve been enjoying most the quiet escape of reading, but I
      never turn down a good online match with friends.
    </p>
  </div>
</GridBlock>
